<%= form_for [@project, @user_story] do |f| %>
  <% if @user_story.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_story.errors.count, "error") %> prohibited this user_story from being saved:</h2>

      <ul>
      <% @user_story.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-horizontal__field">
    <div class="form-horizontal__label">
      <%= f.label :actor %>
    </div>
    <%= f.text_field :actor, :class => "form-horizontal__input" %>
    <span class="form-horizontal__info">
      Who performs the action of the story?
    </span>
  </div>

  <div class="form-horizontal__field">
    <div class="form-horizontal__label">
      <%= f.label :action %>
    </div>
    <%= f.text_field :action, :class => "form-horizontal__input" %>
    <span class="form-horizontal__info">
      What the actor needs to complete the objective.
    </span>
  </div>
  <div class="form-horizontal__field">
    <div class="form-horizontal__label">
      <%= f.label :goal%>      
    </div>
    <%= f.text_field :goal, :class => "form-horizontal__input" %>
    <span class="form-horizontal__info">
      Where the story takes the actor? Why it's relevant?
    </span>
  </div>
  <div class="form-horizontal__field--submit">
    <%= f.submit "Create", :class => "form-horizontal__submit" %>
  </div>
<% end %>
