<div class="wrapper">
  
  <aside class="aside-info">
    <h3>Account Settings</h3>
    <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.</p>
    <%= link_to "Back", :back %>


  </aside>

  <div class="layout-content">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-horizontal__field">
        <div class="form-horizontal__label">
          <%= f.label :email %>
        </div>
        <%= f.email_field :email, :class => "form-horizontal__input" %>
      </div>

      <div class="form-horizontal__field">
        <div class="form-horizontal__label">
          <%= f.label :password %>
        </div>
        <%= f.password_field :password, :autocomplete => "off", :class => "form-horizontal__input" %>
        <span class="form-horizontal__info">Leave blank if you don't want to change it</span>
      </div>

      <div class="form-horizontal__field">
        <div class="form-horizontal__label">
          <%= f.label :password_confirmation %>
        </div>
        <%= f.password_field :password_confirmation, :class => "form-horizontal__input" %>
        <span class="form-horizontal__info">Leave blank with you don't want to change it</span>
      </div>

      <div class="form-horizontal__field">
        <div class="form-horizontal__label">
          <%= f.label :current_password %>
        </div>
        <%= f.password_field :current_password, :class => "form-horizontal__input" %>
        <span class="form-horizontal__info">We need your current password to confirm your changes</span>
      </div>

      <div class="form-horizontal__field--submit">
        <%= f.submit "Save settings", :class => "form-horizontal__submit" %>
      </div>

    <% end %>    
  </div>

</div>