<%= form_for(@project) do |f| %>
    <div class="form-horizontal__field">
      <div class="form-horizontal__label">
        <%= f.label :title %>
      </div>
      <%= f.text_field :title, :class => "form-horizontal__input" %>
      <span class="form-horizontal__info">Title of the project.</span>
    </div>
    <div class="form-horizontal__field">
      <div class="form-horizontal__label">
        <%= f.label :short_description %>
      </div>
      <%= f.text_field :short_description, :class => "form-horizontal__input" %>
      <span class="form-horizontal__info">A short description of the project (optional).</span>
    </div>
    <div class="form-horizontal__field">
      <div class="form-horizontal__label">
        <%= f.label :full_description %>
      </div>
      <%= f.text_area :full_description, :class => "form-horizontal__input" %>
      <span class="form-horizontal__info">Full description of the project (optional).</span>
    </div>
    <div class="form-horizontal__field--submit">

      <%= f.submit "Criar Projeto", :class => "form-horizontal__submit"%>
    </div>
<% end %>
