<%= render "partials/top_bar" %>

<section class="projects">
  <table class="projects__table">
    <% @projects.each do |project| %>
    <tr>
      <td class="project__title"><%= project.title %></td>
      <td><%= project.description %></td>
      <td><%= project.user_stories.count %> User Stories</td>
      <td>
        <div class="project__action-buttons">
          <%= link_to "View", project, :class => "project__action-button" %>
          <%= link_to "Edit", edit_project_path(project), :class => "project__action-button" %>
          <%= link_to "Delete", project, :method => "delete", :confirm => "Are you sure?", :class => "project__action-button" %>


        </div>
      </td>
    </tr>
    <% end %>
  </table>
</section>

<br />

