<section class="project-view">
	<aside class="aside-info">
		<h3><%= @project.title %></h3>
		<p><%= @project.short_description %></p>
		<p><%= @project.full_description %></p>
		<%= link_to 'New User Story', new_project_user_story_path(@project), :class => "projects__add-project-button" %>
		<div class="clear"></div>
		<br>
		<%= link_to 'Edit Project', edit_project_path(@project) %> |
		<%= link_to 'Back', projects_path %>
	</aside>

	<% unless @project.user_stories.empty? %>

	<div class="project-view__us">

		<table class="project-view__us-table">
			<% @project.user_stories.each do |us| %>
			<tr>
				<td>As a <strong><%= us.actor %></strong></td>
				<td>I <strong><%= us.action %></strong></td>
				<td>So <strong><%= us.goal %></strong></td>
				<td>
					<div class="project__action-buttons">
      			<%= link_to ('<i class="icon-pencil"></i>').html_safe, edit_project_user_story_path(@project, us), :class => "project__action-button" %>
            <%= link_to ('<i class="icon-trash"></i>').html_safe, project_user_story_path(@project, us), :method => "delete", :confirm => "Are you sure?", :class => "project__action-button" %>
					</div>
				</td>
			</tr>
			<% end %>
		</table>
	</div>

<% end %>



</section>



<br>

