<div class="sign-in-wrapper">

	<div class="sign-in">

		<h3>Welcome to StoryTeller</h3>
		<p>Please, enter your credentials to access your account.</p>

		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
		  <%= f.email_field :email, :class => "sign-in__input", :placeholder => "Email" %>

		  <%= f.password_field :password, :class => "sign-in__input", :placeholder => "Password" %>

		  <% if devise_mapping.rememberable? -%>
		   <div class="sign-in__remember-me">
		   	<%= f.check_box :remember_me %> <%= f.label :remember_me, "Remember Me" %>
		   </div>
		  <% end %>

	  	<%= f.submit "Sign in", :class => "sign-in__submit" %>
		<% end %>
	</div>

	<aside class="dont-have-account">
		<h3>Don't have an account?</h3>
		<p>Create a free account in less than a minute.</p>
		<%= link_to "Sign Up", new_user_registration_path, :class => "sign-up-button" %>
	</aside>

</div>

<!--
<%= render :partial => "devise/shared/links" %>
!-->